.header {
  background-color: none;
}

.middle {
  background-color: #ffffff;
font-family: Oswald;
color: #000000;
}

.footer{
  background-color: none;
  font-family: Oswald;
  color: #ffffff;
}

.section1 {
  background-color: #ffffff;
}

